face_detection_api/node_modules

.gitignore


face_detection_frontend/node_modules
face_detection_frontend/.pnp.js
face_detection_frontend/.pnp
face_detection_frontend/src/configurations
# testing
face_detection_frontend/coverage

# production
face_detection_frontend/build

face_detection_frontend/# misc
face_detection_frontend/.DS_Store
face_detection_frontend/.env.local
face_detection_frontend/.env.development.local
face_detection_frontend/.env.test.local
face_detection_frontend/.env.production.local

face_detection_frontend/npm-debug.log*
face_detection_frontend/yarn-debug.log*
face_detection_frontend/yarn-error.log*
